{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_lti_registration/pendingregistrations

    Template which displays a table view of all registered apps pending authorization with options to authorize or delete.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * hasregs

    Optional context variables for this template:
    * registrations

    Example context (json):
    {
        "hasregs": true,
        "registrations": [
            {
                "name": "Platform Y registration",
                "approveurl": "https://example.org/local_lti_registration/authorize.php?regid=4",
                "deleteurl": "https://example.org/enrol/lti/register_platform.php?action=delete&regid=4"
            }
        ]
    }
}}
<div id="lti_pendingregistrations" class="mb-3">
{{#hasregs}}
<table class="admintable generaltable">
    <thead>
    <tr>
        <th>{{#str}}name, core{{/str}}</th>
        <th>{{#str}}registrationstatus, enrol_lti{{/str}}</th>
        <th>{{#str}}actions, core{{/str}}</th>
    </tr>
    </thead>

    <tbody>
    {{#registrations}}
        <tr>
            <th>
                {{name}}
            </th>
            <td>
                <span class="font-weight-bold">{{#str}}registerplatform:platformid, enrol_lti{{/str}}: </span> {{issuer}}<br>
                <span class="font-weight-bold">{{#str}}registerplatform:clientid, enrol_lti{{/str}}: </span> {{clientid}}
            </td>
            <td>
                <span class="badge badge-info">{{{statusstring}}}</span>
            </td>
            <td>
                {{^autoapprove}}<a href="{{approveurl}}" title="{{#str}} authorize, local_lti_registration {{/str}}">{{#pix}} t/check, core, {{#str}} authorize, local_lti_registration {{/str}}{{/pix}}</a>{{/autoapprove}}
                <a href="{{deleteurl}}" title="{{#str}} delete {{/str}}">{{#pix}} t/delete, core, {{#str}} delete {{/str}}{{/pix}}</a>
            </td>
        </tr>
    {{/registrations}}
    </tbody>
</table>
{{/hasregs}}
{{^hasregs}}
    <div>
        {{#str}}nopendingregistrations, local_lti_registration{{/str}}
    </div>
    <br>
{{/hasregs}}
</div>
